
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sales Cycle Type
            </div>
            <div style="width:800px; margin:0 auto;">
              
                <a   (click)="SelectSalesCycleTypeForEdit()"class="btn btn-warning">Edit</a> | 
                <a   (click)="DeleteSalesCycleTypeData()"class="btn btn-danger">Delete</a>
             
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-9">
                            <div class="form-control-material">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input id="addon" type="text" class="form-control"  [(ngModel)]=searchKey name="searchKey" placeholder="search key"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                <label for="addon">Search</label>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-12">
                        <table class="table table-bordered v-middle table-hover table-striped ">
                            <thead>
                              <tr>
                                <th>Select</th>
                                <th>Name</th>
                              
                              </tr>
                            </thead>
                            
                            <tbody  *ngFor="let cycleType of pageOfItems | salesCycleTypeFilter : searchKey ">
                              <tr>
                                <td>
                                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(cycleType) : null"  
                                  [checked]="selection.isSelected(cycleType)" ></mat-checkbox>  
                                  </td>  
                                  <td>{{cycleType.name}}</td>
                                 
                              </tr>
                          </tbody>
                          </table>
                      </div>
                </div>
              
            </div>
            <div class="panel-footer">
                <jw-pagination [pageSize]=4 [items]="salesCycleTypes" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Save Sales Cycle Type
            </div>
            <div class="panel-body">
              <form (submit)="SaveSalesCycleType()" #form="ngForm" >
                <div class="form-group form-control-material static">
                  <input id="cycleTypeName"  [(ngModel)]="salesCycleType.name"  type="text" class="form-control" name="cycleTypeName" #cycleTypeName required  placeholder="Enter sales cycle type name">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="cycleTypeName">
                    Sales Cycle Type Name  <span class="text-danger">*</span>
                  </label>
                  
                </div>
                <button type="submit"  [disabled]="form.invalid || btnClicked" class="btn btn-success form-control">Submit</button>
                <hr/>
                <button type="button" (click)="ClearObject()" class="btn btn-danger form-control">Clear</button>
              </form>
            </div>
          </div>
    </div>
</div>