<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Instructors
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-sm-9">
                            <div class="form-control-material">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input id="addon" type="text" class="form-control"  [(ngModel)]=searchKey name="searchKey" placeholder="search key"><span class="ma-form-highlight"></span><span class="ma-form-bar"></span>
                                <label for="addon">Search</label>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-12">
                        <table class="table table-bordered v-middle table-hover table-striped ">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Mobile Phone</th>
                                <th>Home Number</th>
                                <th>Email</th>
                                <th>Job Title</th>
                                <th>Image</th>
                                <th>Rate</th>
                                <th></th>
                              </tr>
                            </thead>
                            
                            <tbody *ngFor="let instructor of pageOfItems | instructorFilter : searchKey">
                              <tr>
                                  <td>{{instructor.name}}</td>
                                  <td>{{instructor.phone}}</td>
                                  <td>{{instructor.number}}</td>
                                  <td>{{instructor.email}}</td>
                                  <td>{{instructor.major}}</td>
                                  <td>
                                    <img src="http://clslearn.net{{instructor.image}}" height="70" />
                                  </td>
                                  <td>{{instructor.internalRate}}</td>
                                  <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-info dropdown-toggle ripple" data-toggle="dropdown" aria-expanded="false"><span class="ink animate" style="height: 196px; width: 196px; top: -72px; left: -38.2031px;"></span>
                                        Files
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu pull-right" style="height: auto; display: none; overflow: visible; top: 100%; opacity: 0;">
                                        <li><a target="_blank" href="http://clslearn.net{{instructor.nationalIdPath}}">NationalId</a></li>
                                        <li><a target="_blank" href="http://clslearn.net{{instructor.cvPath}}">CV</a></li>
                                      </ul>
                                    </div>
                                    | 
                                    <a   (click)="SelectInstructorToEdit(instructor)"class="btn btn-warning">Edit</a> | 
                                    <a   (click)="DeleteInstructor(instructor.id)"class="btn btn-danger">Delete</a> | 
                                    <button type="button" class="btn btn-primary" (click)="GetCourses(instructor.id)" data-toggle="modal" data-target="#exampleModalCenter">
                                      Courses
                                    </button>
                                    | 
                                    <button (click)="OpenInstRates(instructor.id,instructor)" type="button" class="btn btn-info" data-toggle="modal" data-target="#ratesModal">
                                      Rates
                                    </button>
                                  </td>
                              </tr>
                          </tbody>
                          </table>
                      </div>
                </div>
              
            </div>
            <div class="panel-footer">
                <jw-pagination [pageSize]=4 [items]="instructors" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Save Instructor
            </div>

            <div class="panel-body">
              <form (submit)="SaveInstructor()" #form="ngForm" >
                <div class="form-group form-control-material static">
                  <input id="instructorNameTxt"  [(ngModel)]="instructor.name"  type="text" class="form-control" name="instructorName" #instructorName required  placeholder="Enter instructor name">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="instructorNameTxt">
                    Instructor Name  <span class="text-danger">*</span>
                  </label>      
                </div>
                <div class="form-group form-control-material static">
                  <input (change)="onFileImageChange($event)" [(ngModel)]="fileImageInput" name="fileImageInput" id="fileImageInput"  type="file" class="form-control"/>
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="fileImageInput">
                    Instructor Image 
                  </label>  
                </div>
                <div class="form-group form-control-material static">
                  <input (change)="onFileCVChange($event)" [(ngModel)]="fileCVInput" name="fileCVInput" id="fileCVInput"  type="file" class="form-control"/>
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="fileCVInput">
                    Instructor CV 
                  </label>  
                </div>
                <div class="form-group form-control-material static">
                  <input (change)="onFileNationalIdChange($event)" [(ngModel)]="fileNationalIdInput" name="fileNationalIdInput" id="fileNationalIdInput"  type="file" class="form-control"/>
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="NationalId">
                    Instructor National Id 
                  </label>  
                </div>
                <div class="form-group form-control-material static">
                    <input id="instructorPhoneTxt"  [(ngModel)]="instructor.phone"  type="text" class="form-control" name="instructorPhone" #instructorPhone required  placeholder="Enter instructor phone">
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorPhoneTxt">
                        Instructor Cell Phone  <span class="text-danger">*</span>
                    </label>            
                  </div>

                  <div class="form-group form-control-material static">
                    <input id="instructorNumberTxt"  [(ngModel)]="instructor.number"  type="text" class="form-control" name="instructorNumber" #instructorNumber   placeholder="Enter instructor number">
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorNumberTxt">
                        Instructor Home Number 
                    </label>            
                  </div>

                  <div class="form-group form-control-material static">
                    <input id="instructorEmailTxt"  [(ngModel)]="instructor.email"  type="text" class="form-control" name="instructorEmail" #instructorEmail   placeholder="Enter instructor email">
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorEmailTxt">
                        Instructor Email  
                    </label>            
                  </div>


                  <div class="form-group form-control-material static">
                    <input id="instructorCompanyTxt"  [(ngModel)]="instructor.company"  type="text" class="form-control" name="instructorCompany" #instructorCompany   placeholder="Enter instructor company">
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorCompanyTxt">
                        Instructor Company 
                    </label>            
                  </div>

                  <div class="form-group form-control-material static">
                    <input id="instructorTranningCenterTxt"  [(ngModel)]="instructor.tranningCenter"  type="text" class="form-control" name="tranningCenter" #tranningCenter  placeholder="Enter instructor tranning center">
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorTranningCenterTxt">
                        Instructor Tranning Center  
                    </label>            
                  </div>

                  <div class="form-group form-control-material static">
                    <input id="instructorMajorTxt"  [(ngModel)]="instructor.major"  type="text" class="form-control" name="instructorMajor" #instructorMajor   placeholder="Enter instructor job title">
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorMajorTxt">
                        Instructor Job Title 
                    </label>            
                  </div>

                  <!-- <div class="form-group form-control-material static">
                    <input id="instructorImageTxt"  [(ngModel)]="instructor.image"  type="text" class="form-control" name="instructorImage" #instructorImage required  placeholder="Enter instructor image">
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorImageTxt">
                        Instructor Job Title  <span class="text-danger">*</span>
                    </label>            
                  </div> -->
                  <div class="form-group form-control-material static">
                    <!-- <input id="instructorgradeTxt"  [(ngModel)]="instructor.grade"  type="text" class="form-control" name="instructorGrade" #instructorGrade   placeholder="Enter instructor grade"> -->
                    <select class="form-control" [(ngModel)]="instructor.internalRate" name="internalRate" #internalRate >
                      <option value=""></option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorgradeTxt">
                      Internal Rate
                    </label>            
                  </div>
                  <div class="form-group form-control-material static">
                    <select class="form-control" [(ngModel)]="instructor.state" name="state" #state >
                      <option value="Active">Active</option>
                      <option value="Blocked">Blocked</option>
                    </select>
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorgradeTxt">
                      State
                    </label>            
                  </div>
                  <div class="form-group form-control-material static" [hidden]="instructor.state != 'Blocked'">
                    <input id="bloackReasonTxt"  [(ngModel)]="instructor.bloackReason"  type="text" class="form-control" name="bloackReason" #bloackReason  >
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorMajorTxt">
                        Block Reason
                    </label>            
                  </div>

                  <div class="form-group">
                    <label >
                        Courses 
                    </label>
                    <ng-select name="courses" class="form-control" bindLabel="name"
                            appendTo="body"
                            multiple="true"
                            [searchable]="true" 
                            [clearable]="true"
                            [(ngModel)]="selectedInsCourses"
                           >
                            <ng-option  [value]="item.id" [disabled]="item.disabled" *ngFor="let item of allCourses" >
                                <span style="background: #f7f7f7;width: 100%; margin: 0px;page-break-after: 5px; display: inline-block;" >{{item.name}}</span>
                            </ng-option>
                    </ng-select>
                </div>

                  <div class="form-group form-control-material static">
                    <span class="ma-form-highlight"></span>
                    <span class="ma-form-bar"></span>
                    <label for="instructorMajorTxt">
                        Instructor Bio
                    </label>            
                  </div>
                  <angular-editor [placeholder]="'Enter instructor bio'" [(ngModel)]="instructor.bio" name="instructorBio"></angular-editor>
                <br/>
                <button type="submit"  class="btn btn-success form-control">Submit</button>
                <hr/>
                <button type="button" (click)="ClearObject()" class="btn btn-danger form-control">Clear</button>
              </form>
            </div>
          </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Courses</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngFor="let c of courses">
          <div class="col-lg-4 text-center" >
            <img src="http://clslearn.net{{c.image}}" style="width: 150px;">
            <h4>
              <a data-dismiss="modal" [routerLink]="['/app/rounds', c.id]" >
                {{c.name}}
              </a>
            </h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="ratesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instructor Rates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <p>Course</p>
            <select  class="form-control" [(ngModel)]="rateCourseName" >
              <option></option>
              <option *ngFor="let c of rateInstCourses" [ngValue]="c.name">{{c.name}}</option>
            </select>
            </div>
            <div class="col-sm-4">
              <p>EGP Rate</p>
              <input type="number" class="form-control" name="rateCourseName" [(ngModel)]="rateEGP"   />
            </div>
            <div class="col-sm-4">
              <p>USD Rate</p>
              <input type="number" class="form-control"name="rateCourseName" [(ngModel)]="rateUSD" />
            </div>
            <hr/>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>EGP Rate</th>
                  <th>USD Rate</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let r of instRates">
                <tr>
                  <td>{{r.courseName}}</td>
                  <td>{{r.rateEGP}}</td>
                  <td>{{r.rateUSD}}</td>
                  <td>
                    <button class="btn btn-danger" (click)="DeleteRate(r.id)">X</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="SaveInstructorRate()">Save Changes</button>
      </div>
    </div>
  </div>
</div>