<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Round Details
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group form-control-material static">
                        <input type="date" class="form-control" required>
                        <span class="ma-form-highlight"></span>
                        <span class="ma-form-bar"></span>
                        <label >
                            Start Date <span class="text-danger">*</span>
                        </label>
                    </div>
                    <div class="form-group form-control-material static">
                        <input type="date" class="form-control" required>
                        <span class="ma-form-highlight"></span>
                        <span class="ma-form-bar"></span>
                        <label data-toggle="modal" data-target="#timeTableModal">
                            End Date <span class="text-danger">*</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label >
                            Round Type <span class="text-danger">*</span>
                        </label>
                        <select class="form-control">
                            <option>Full Day</option>
                            <option>Half Day</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >
                            Delivery Type <span class="text-danger">*</span>
                        </label>
                        <select class="form-control">
                            <option>On Site</option>
                            <option>Offline</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >
                            Branch <span class="text-danger">*</span>
                        </label>
                        <select class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label data-toggle="modal" data-target="#timeTableModal">
                            Lab <span class="text-danger">*</span>
                        </label>
                        <select class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label >
                            Instructors <span class="text-danger">*</span>
                        </label>
                        <select class="form-control"></select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success form-control">Save Round</button>
                    <hr />
                    <!-- <button type="button" (click)="ClearObject()" class="btn btn-danger form-control">Clear</button> -->
                </form>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Round Days
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">
                                Day <span class="text-danger">*</span>
                            </label>
                            <select class="form-control" required>
                                <option>Sunday</option>
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">
                                Time From <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">
                                Time To <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p>.</p>
                        <button class="btn btn-success" >Add</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Time From</th>
                                    <th>Time To</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sunday</td>
                                    <td>03:00 PM</td>
                                    <td>05:00 PM</td>
                                    <td>
                                        <a class="btn btn-danger">X</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>03:00 PM</td>
                                    <td>05:00 PM</td>
                                    <td>
                                        <a class="btn btn-danger">X</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        Course Rounds
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Round</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>State</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Round</td>
                        <td>1/1/2020</td>
                        <td>1/3/2020</td>
                        <td>Planned</td>
                        <td>
                            <a class="btn btn-warning">Details</a> | 
                            <a class="btn btn-danger">Remove</a> | 
                            <a class="btn btn-info">Activate</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#timeTableModal">Open Modal</button> -->

<!--Lab Modal -->
<div id="timeTableModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rounds Time Table</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>