<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Round Details
            </div>
            <div class="panel-body">
                <form #saveForm="ngForm" (submit)="SaveRound()">
                    <div class="form-group form-control-material static">
                        <input #roundDuration="ngModel" name="roundDuration" [(ngModel)]="round.roundDuration" type="number" class="form-control" required>
                        <span class="ma-form-highlight"></span>
                        <span class="ma-form-bar"></span>
                        <label >
                            Round Duration in Hours <span class="text-danger">*</span>
                        </label>
                    </div>
                    <div class="form-group form-control-material static">
                        <input #sessionDuration="ngModel" name="sessionDuration" [(ngModel)]="round.sessionDuration" type="number" class="form-control" required>
                        <span class="ma-form-highlight"></span>
                        <span class="ma-form-bar"></span>
                        <label >
                            Session Duration in Hours <span class="text-danger">*</span>
                        </label>
                    </div>
                    <div class="form-group form-control-material static">
                        <input #totalSessions="ngModel" name="totalSessions" [(ngModel)]="round.roundDuration /round.sessionDuration" readonly type="number" class="form-control" required>
                        <span class="ma-form-highlight"></span>
                        <span class="ma-form-bar"></span>
                        <label >
                            Total Sessions <span class="text-danger">*</span>
                        </label>
                    </div>
                    <div class="form-group form-control-material static">
                        <input #startDate="ngModel" name="startDate" [(ngModel)]="round.startDate" type="date" (focusout)="CalculateEndDate()" class="form-control" required>
                        <span class="ma-form-highlight"></span>
                        <span class="ma-form-bar"></span>
                        <label >
                            Start Date <span class="text-danger">*</span>
                        </label>
                    </div>
                    <div class="form-group form-control-material static">
                        <input #endDate="ngModel" name="endDate" [(ngModel)]="round.endDate" type="date" class="form-control" required>
                        <span class="ma-form-highlight"></span>
                        <span class="ma-form-bar"></span>
                        <label>
                            <!-- data-toggle="modal" data-target="#timeTableModal" -->
                            End Date <span class="text-danger">*</span>
                        </label>

                    </div>
                    <div class="form-group">
                        <label >
                            Round Type <span class="text-danger">*</span>
                        </label>
                        <select  [(ngModel)]="round.courseTypeId" name="courseTypeId" class="form-control" #courseTypeId  required>
                            <option *ngFor="let item of courseTypes" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >
                            Delivery Type <span class="text-danger">*</span>
                        </label>
                        <select  [(ngModel)]="round.deliveryTypeId" name="deliveryTypeId" class="form-control" #deliveryTypeId  required>
                            <option *ngFor="let item of deliveryTypes" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>
                            Branch <span class="text-danger">*</span>
                        </label>
                        <select (change)="GetLabs($event.target.value)"  name="deliveryTypeId" class="form-control">
                            <option></option>
                            <option *ngFor="let item of branches" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>
                            <!-- data-toggle="modal" data-target="#timeTableModal" -->
                            Lab <span class="text-danger">*</span>
                        </label>
                        <select  [(ngModel)]="round.labId" name="labId" class="form-control" #labId  required>
                            <option *ngFor="let item of labs" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >
                            Instructors <span class="text-danger">*</span>
                        </label>
                        <ng-select name="Instructors" class="form-control" bindLabel="name"
                                (change)="SelectInstrctor()" 
                                appendTo="body"
                                multiple="true"
                                [searchable]="true" 
                                [clearable]="true"
                                [(ngModel)]="selectedInstructors"
                               >
                                <ng-option  [value]="item.id" [disabled]="item.disabled" *ngFor="let item of instructors" >
                                    <span style="background: #f7f7f7;width: 100%; margin: 0px;page-break-after: 5px; display: inline-block;" >{{item.name}}</span>
                                </ng-option>
                        </ng-select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success form-control">Save Round</button>
                    <hr />
                    <!-- <button type="button" (click)="ClearObject()" class="btn btn-danger form-control">Clear</button> -->
                </form>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Round Days
            </div>
            <div class="panel-body">
                <form #addDayForm="ngForm" (submit)="AddDayToRoundWeek()">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">
                                    Day <span class="text-danger">*</span>
                                </label>
                                <select #dayName="ngModel" [(ngModel)]="weekDay.day" name="dayName" class="form-control" required>
                                    <option value="Sunday">Sunday</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">
                                    Time From <span class="text-danger">*</span>
                                </label>
                                <select #from="ngModel" required  name="from" [(ngModel)]="weekDay.startTime" name="from" class="form-control" required>
                                    <option *ngFor="let t of times" value="{{t.time}}">{{t.time}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">
                                    Time To <span class="text-danger">*</span>
                                </label>
                                <select #to="ngModel" required  name="to" [(ngModel)]="weekDay.endTime" name="to" class="form-control" required>
                                    <option *ngFor="let t of times" value="{{t.time}}">{{t.time}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p>.</p>
                            <button class="btn btn-success" type="submit" [disabled]="addDayForm.invalid" >Add</button>
                        </div>
                    </div>
                </form>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Time From</th>
                                    <th>Time To</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let d of roundWeek">
                                <tr>
                                    <td>{{d.day}}</td>
                                    <td>{{d.startTime}}</td>
                                    <td>{{d.endTime}}</td>
                                    <td>
                                        <button class="btn btn-danger" (click)="DeleteDayFromRoundWeek(d)">X</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        Course Rounds
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Duration</th>
                        <th>Session Duration</th>
                        <th>Sessions</th>
                        <th>State</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let r of rounds">
                    <tr>
                        <td>{{r.startDate }}</td>
                        <td>{{r.endDate }}</td>
                        <td>{{r.roundDuration}}</td>
                        <td>{{r.sessionDuration}}</td>
                        <td>{{r.totalSessions}}</td>
                        <th [hidden]="!r.isExecuted">
                            <button  class="btn btn-danger btn-xs">executed</button>
                            
                        </th>
                        <th [hidden]="r.isExecuted">
                            <button class="btn btn-primary btn-xs">Planned</button>
                        </th>
                        <td>
                            <a class="btn btn-primary" data-toggle="modal" data-target="#roundDetailsModal" (click)="GetRoundDetails(r.id)">Details</a> | 
                            <a class="btn btn-danger" (dblclick)="DeleteRound(r.id)">Remove</a> | 
                            <button class="btn btn-warning"  [disabled]="(r.isExecuted == true)" (dblclick)="ExecuteRound(r.id)" >Execute</button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Trigger the modal with a button -->
<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#timeTableModal">Open Modal</button> -->

<!--Lab Modal -->
<div id="timeTableModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rounds Time Table</h4>
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated="">
                    <div class="panel-heading">
                      <h4 class="text-headline"> Round</h4>
                    </div>
                    <div class="panel-body">
                      <p class="text-caption">
                        <!-- <i class="fa fa-clock-o fa-fw"></i> 4 hrs &nbsp; -->
                        <i class="fa fa-calendar fa-fw"></i> 02/02/2020 to 03/03/2020 
                        <br>
                        <i class="fa fa-user fa-fw"></i> Instructors: Adrian Demian,Adrian Demian
                        <br>
                        <i class="fa fa-mortar-board fa-fw"></i> Days: sunday - monday
                        <br>
                        <i class="fa fa-clock-o"></i> Time: 02:00 to 03:00
                      </p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!--Rounde Details Modal -->
<div id="roundDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Rounds Details</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <h3>Days</h3>
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>From</th>
                                <th>To</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let day of roundWithDetails.roundDetails">
                            <tr>
                                <td>{{day.day}}</td>
                                <td>{{day.startTime}}</td>
                                <td>{{day.endTime}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <h3>Instructors</h3>
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Image</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let i of roundWithDetails.instructors">
                            <tr>
                                <td>{{i.name}}</td>
                                <td>{{i.phone}}</td>
                                <td>
                                    <img height="70" src="https://localhost:44384{{i.image}}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
