<a class="btn btn-warning asset-btn" [routerLink]="['/asset']">Back</a>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#main">Main</a></li>
    <li><a data-toggle="tab" href="#insurance">Insurance</a></li>
    <li><a data-toggle="tab" href="#technical">Technical</a></li>
  </ul>

  <form (submit)="SaveAsset()" #form="ngForm" >
      <div class="tab-content">
     
          <div id="main" class="tab-pane fade in active">
              <div class="form-group form-control-material static">
                  <input id="assetNameTxt"  [(ngModel)]="asset.name"  type="text" class="form-control" name="assettName" #assettName required  placeholder="Enter asset name">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetNameTxt">
                    Asset Name  <span class="text-danger">*</span>
                  </label>
                  
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetSsn"  [(ngModel)]="asset.ssn"  type="text" class="form-control" name="assetSsn" #assetSsn required  placeholder="Enter asset SSN">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetSsn">
                    Asset SSN  <span class="text-danger">*</span>
                  </label>
                  
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetBarcode"  [(ngModel)]="asset.barcode"  type="text" class="form-control" name="assetBarcode" #assetBarcode required  placeholder="Enter asset Barcode">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetBarcode">
                    Asset Barcode  <span class="text-danger">*</span>
                  </label>
                  
                </div>

                <div class="form-group form-control-material static">
                  <div class="form-check">
                      <label class="form-check-label" for="check1">
                        <input type="checkbox" [(ngModel)]="asset.isDepreciationable" class="form-check-input" id="check1" name="option1" value="something"> Depreciationable
                      </label>
                    </div>         
                </div>

                <div class="form-group form-control-material static">
                  <div class="form-check">
                      <label class="form-check-label" for="check2">
                        <input type="checkbox" [(ngModel)]="asset.depreciatedByPercentage" class="form-check-input" id="check2" name="option2" value="something"> Depreciated By Percentage
                      </label>
                    </div>         
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetDepreciationAmount"  [(ngModel)]="asset.depreciationAmount"  type="text" class="form-control" name="assetDepreciationAmount" #assetDepreciationAmount required  placeholder="Enter asset depreciation amount">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetDepreciationAmount">
                    Asset Depreciation Amount  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetDepreciationDuration"  [(ngModel)]="asset.depreciationDuration"  type="text" class="form-control" name="assetDepreciationDuration" #assetDepreciationDuration required  placeholder="Enter asset depreciation duration">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetDepreciationDuration">
                    Asset Depreciation Duration  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetPrice"  [(ngModel)]="asset.price"  type="text" class="form-control" name="assetPrice" #assetPrice required  placeholder="Enter asset price">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetPrice">
                    Asset Price  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetQuantity"  [(ngModel)]="asset.quantity"  type="text" class="form-control" name="assetQuantity" #assetQuantity required  placeholder="Enter asset quantity">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetQuantity">
                    Asset Quantity  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetMinmumAmount"  [(ngModel)]="asset.assetMinmumAmount"  type="text" class="form-control" name="assetMinmumAmount" #assetMinmumAmount required  placeholder="Enter asset minmum amount">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetMinmumAmount">
                    Asset Minmum Amount  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetNote"  [(ngModel)]="asset.note"  type="text" class="form-control" name="assetNote" #assetNote required  placeholder="Enter asset note">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetNote">
                    Asset Note  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <div class="form-check">
                      <label class="form-check-label" for="check3">
                        <input type="checkbox" [(ngModel)]="asset.isNew" class="form-check-input" id="check3" name="option2" value="something"> Asset New
                      </label>
                    </div>         
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetAccusationDate"  [(ngModel)]="asset.accusationDate"  type="text" class="form-control" name="assetAccusationDate" #assetAccusationDate required  placeholder="Enter asset accusation date">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetAccusationDate">
                    Asset Accusation Date  <span class="text-danger">*</span>
                  </label>
                </div>

                <select  [(ngModel)]="asset.assetVendorId" name="assetVendorName" class="form-control" #assetVendorName data-live-search="true" required>
                  <option *ngFor="let vendor of assetVendors" [ngValue]="vendor.id">{{vendor.name}}</option>
                </select>
                {{vendor.name}} {{asset.assetVendorId}}

                <select  [(ngModel)]="asset.assetGroupId" name="assetGroupName" class="form-control" #assetGroupName data-live-search="true" required>
                  <option *ngFor="let assetGroup of assetGroups" [ngValue]="assetGroup.id">{{assetGroup.name}}</option>
                </select>

                <select  [(ngModel)]="asset.branchId" name="assetBranch" class="form-control" #assetBranch data-live-search="true" required>
                  <option *ngFor="let branch of branches" [ngValue]="branch.id">{{branch.name}}</option>
                </select>
          </div>
          <div id="insurance" class="tab-pane fade">

            <div class="form-group form-control-material static">
              <div class="form-check">
                  <label class="form-check-label" for="check4">
                    <input type="checkbox" [(ngModel)]="asset.haveInsurance" class="form-check-input" id="check4" name="option2" value="something"> Asset Have Insurance
                  </label>
                </div>         
            </div>

              <div class="form-group form-control-material static">
                  <input id="assetInsuranceCompany"  [(ngModel)]="asset.insuranceCompany"  type="text" class="form-control" name="assetInsuranceCompany" #assetInsuranceCompany required  placeholder="Enter asset insurance company">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetInsuranceCompany">
                    Asset Insurance Company  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetInsuranceAmount"  [(ngModel)]="asset.insuranceAmount"  type="text" class="form-control" name="assetInsuranceAmount" #assetInsuranceAmount required  placeholder="Enter asset insurance amount">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetInsuranceAmount">
                    Asset Insurance Amount  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetInsuranceDuration"  [(ngModel)]="asset.insuranceDuration"  type="text" class="form-control" name="assetInsuranceDuration" #assetInsuranceDuration required  placeholder="Enter asset insurance duration">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetInsuranceDuration">
                    Asset Insurance Duration  <span class="text-danger">*</span>
                  </label>
                </div>
          </div>
          <div id="technical" class="tab-pane fade">

              <div class="form-group form-control-material static">
                  <input id="assetManufacturer"  [(ngModel)]="asset.manufacturer"  type="text" class="form-control" name="assetManufacturer" #assetManufacturer required  placeholder="Enter asset manufacturer">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetManufacturer">
                    Asset Manufacturer  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetModel"  [(ngModel)]="asset.model"  type="text" class="form-control" name="assetModel" #assetModel required  placeholder="Enter asset model">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetModel">
                    Asset Model  <span class="text-danger">*</span>
                  </label>
                </div>

                <div class="form-group form-control-material static">
                  <input id="assetManufacturingYear"  [(ngModel)]="asset.manufacturingYear"  type="text" class="form-control" name="assetManufacturingYear" #assetManufacturingYear required  placeholder="Enter asset manufacturing year">
                  <span class="ma-form-highlight"></span>
                  <span class="ma-form-bar"></span>
                  <label for="assetManufacturingYear">
                    Asset Manufacturing Year  <span class="text-danger">*</span>
                  </label>
                </div>
          </div>
      
      </div>
      <button type="submit"  [disabled]="form.invalid || btnClicked" class="btn btn-success form-control">Submit</button>
              <hr/>
              <button type="button" (click)="ClearObject()" class="btn btn-danger form-control">Clear</button>
  </form>