<div class="st-container">
    <app-fixed-navbar></app-fixed-navbar>

    <app-sidebar></app-sidebar>

    <div class="st-pusher" id="content" >
        <div class="st-content">
            <div class="st-content-inner padding-none">
                <div  class="container-fluid">
                    <br/>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <strong>HTV</strong> v1.0.0 &copy; Copyright 2019
    </footer>
    <!-- // Footer -->
</div>  