<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <h3>All Courses</h3>             
            </div>
            <div style="width:800px; margin:0 auto;"> 
                
                    <a class="btn btn-warning" title="edit" (click)="EditCourse()">
                        <i class="fa fa-edit"></i>
                    </a> | 
                    <a   (click)="DeleteData()"class="btn btn-danger" title="delete">X</a> |
                    <!-- <a  title="outline" [routerLink]="['/app/courseoutline',course.id]" class="btn btn-warning outline-btn"><i class="fa fa-list"></i></a> |
                    <a  title="rounds" [routerLink]="['/app/rounds', course.id]" class="btn btn-primary"> -->

                        <a  title="outline" (click)="GoToOutline()" class="btn btn-warning outline-btn"><i class="fa fa-list"></i></a> |
                        <a  title="rounds" (click)="GoToRound()" class="btn btn-primary">
                        <i class="fa fa-clock-o"></i>
                    </a>
               
            </div>
          <!-- added -->
          <!-- <div class="row push-right">  
            <input type="button" class="btn btn-danger" (click)="DeleteData()" value="Delete Education">  
                <br>  
         </div>  
                <br>   -->
          <!-- ended -->
            <div class="panel-body">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select
                                        name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                                        class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries</label></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input
                                        type="search" [(ngModel)]="searchKey" name="searchKey" class="form-control input-sm" placeholder=""
                                        aria-controls="DataTables_Table_0"></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table data-toggle="data-table" class="table dataTable" cellspacing="0" width="100%"
                                id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info"
                                style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                         <th>select</th> 
                                         <!-- <th style="width: 100px;" mat-header-cell *matHeaderCellDef>  -->
                                            <!-- <th> 
                                            <mat-checkbox (change)="$event ? masterToggle() : null"   [checked]="selection.hasValue() && isAllSelected()"  
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>  
                                        </th>   -->
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Sub Category</th>
                                        <th>Exam</th>
                                        <th>Material</th>
                                        <th>Lab</th>
                                        <th>Vendor</th>
                                        <th>Learning Path</th>
                                        <th>Image</th>
                                     
                                    </tr>
                                </thead>
                                <tbody  *ngFor="let course of pageOfItems | courseFilter : searchKey">
                                    <tr>
                                        <!-- <input type="checkbox" (change)="$event ? masterToggle() : null"  
                                        [checked]="selection.hasValue() && isAllSelected()"  
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"/> -->
    <!-- Checkbox Column -->  
    <!-- <ng-container matColumnDef="select">   -->

                                      <!-- <td mat-cell *matCellDef="let row">   -->
                                      <td>
                                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(course) : null"  
                                      [checked]="selection.isSelected(course)"></mat-checkbox>  
                                      </td>  
    <!-- </ng-container>  -->
                                        <td>{{course.name}}</td>
                                        <td>{{course.courseCategoryName}}</td>
                                        <td>{{course.courseSubCategoryName}}</td>
                                        <td>{{course.examTypeName}}</td>
                                        <td>{{course.materialTypeName}}</td>
                                        <td>{{course.labTypeName}}</td>
                                        <td>{{course.vendorName}}</td>
                                        <td>{{course.learningPathName}}</td>
                                        <td>
                                            <img src="http://clslearn.net{{course.image}}" width="150" height="70" />
                                        </td>
                                       <!-- <td>
                                   <a   (click)="DeleteCourse(course.id)"class="btn btn-danger" title="delete">X</a> |
                                       </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                                <!-- Showing 1 to 10 of 57 entries</div> -->
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <jw-pagination [pageSize]=4 [items]="courses" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
        </div>


        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#main">Main</a></li>
                <li><a data-toggle="tab" href="#outline">Outline</a></li>
                <li><a data-toggle="tab" href="#outcome">Outcomes</a></li>
                <li><a data-toggle="tab" href="#benefit">Benefits</a></li>
                <li><a data-toggle="tab" href="#overview">Overview</a></li>
                <li><a data-toggle="tab" href="#prerequisite">Prerequisites</a></li>
                <li><a data-toggle="tab" href="#audianceProfile">Audiance Profile</a></li>
              </ul>
            <div class="panel">
                <div class="panel-heading">
                    <h3>Save Course</h3>
                </div>
                <div class="panel-body">
                    <form #form="ngForm" class="form-horizontal" (submit)="SaveCourse()" role="form">
                        <div class="tab-content">

                            <div id="main" class="tab-pane fade in active">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <div class="form-control-material static">
                                            <input type="text" class="form-control" id="courseNameTxt"
                                            [(ngModel)]="course.name" name="courseNameTxt" class="form-control" #courseNameTxt  ><span class="ma-form-highlight"></span><span
                                                class="ma-form-bar"></span>
                                            <label for="courseNameTxt">Course Name</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="courseCategoryName">
                                            Course Category   <span class="text-danger">*</span>
                                        </label>
                                            <select (change)="GetSubCategories($event.target.value)" [(ngModel)]="course.courseCategoryId"   name="courseCategoryName" class="form-control" #courseCategoryName data-live-search="true" required>
                                            <option *ngFor="let category of courseCategories" value="{{category.id}}">{{category.name}}</option>
                                            </select>
                                    </div>


                                    <div class="col-sm-4">
                                        <label for="courseSubCategoryName">
                                            Course Sub Category   
                                        </label>
                                            <select  [(ngModel)]="course.courseSubCategoryId" name="courseSubCategoryName" class="form-control" #courseSubCategoryName data-live-search="true" >
                                                <option value="0"></option>
                                            <option *ngFor="let category of courseSubCategories" [ngValue]="category.id">{{category.name}}</option>
                                            </select>
                                    </div>
                                

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label for="examTypeName">
                                            Exam Type   <span class="text-danger">*</span>
                                        </label>
                                            <select  [(ngModel)]="course.examTypeId" name="examTypeName" class="form-control" #examTypeName data-live-search="true" required>
                                            <option *ngFor="let item of examTypes" [ngValue]="item.id">{{item.name}}</option>
                                            </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="materialTypeName">
                                            Material Type   <span class="text-danger">*</span>
                                        </label>
                                            <select  [(ngModel)]="course.materialTypeId" name="materialTypeName" class="form-control" #materialTypeName data-live-search="true" required>
                                            <option *ngFor="let item of materialTypes" [ngValue]="item.id">{{item.name}}</option>
                                            </select>
                                    </div>

                                    <div class="col-sm-4">
                                        <label for="labTypeName">
                                            Lab Type   <span class="text-danger">*</span>
                                        </label>
                                            <select  [(ngModel)]="course.labTypeId" name="labTypeName" class="form-control" #labTypeName data-live-search="true" required>
                                            <option *ngFor="let item of labTypes" [ngValue]="item.id">{{item.name}}</option>
                                            </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    
                                    <div class="col-sm-4">
                                        <label for="vendorName">
                                            Vendor   <span class="text-danger">*</span>
                                        </label>
                                            <select  [(ngModel)]="course.vendorId" name="vendorName" class="form-control" #vendorName data-live-search="true" required>
                                            <option *ngFor="let item of vendors" [ngValue]="item.id">{{item.name}}</option>
                                            </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="learningPath">
                                            Learning Path   <span class="text-danger"></span>
                                        </label>
                                            <select  [(ngModel)]="course.learningPathId" name="learningPath" class="form-control" #learningPath data-live-search="true" >
                                            <option *ngFor="let item of learningPaths" [ngValue]="item.id">{{item.name}}</option>
                                            </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-control-material static">
                                            <input type="number" class="form-control" id="hoursDuration"
                                            [(ngModel)]="course.hoursDuration" name="hoursDuration" class="form-control" #hoursDuration  ><span class="ma-form-highlight"></span><span
                                                class="ma-form-bar"></span>
                                            <label for="hoursDuration">Course Hours Duration</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-4">
                                        <label for="instructorImage">
                                            Image 
                                        </label>
                                        <input (change)="onFileChange($event)" [(ngModel)]="fileInput" name="fileInput" id="fileInput"  type="file" class="form-control"/>
                                    </div>

                                    <!-- <div class="col-sm-3">
                                        <div class="form-control-material static">
                                            <input type="number" class="form-control" id="durationNumber"
                                                placeholder="Number"><span class="ma-form-highlight"></span><span
                                                class="ma-form-bar"></span>
                                            <label for="durationNumber">Duration</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <select class="form-control" data-live-search="true">
                                            <option>choose duration type</option>
                                            <option>Hours</option>
                                            <option>Day</option>
                                            <option>Week</option>
                                            <option>Month</option>
                                            <option>Year</option>
                                        </select>
                                    </div>
                                    -->
                                </div>
                            </div>

                            <div id="outline" class="tab-pane fade">
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <label class="control-label">
                                            Outline
                                        </label>
                                    </div>
                                    <div class="col-sm-11">
                                        <angular-editor [(ngModel)]="course.outline" name="outline" id="outline"></angular-editor>
                                    </div>
                                </div>
                            </div>

                            <div id="outcome" class="tab-pane fade">
                                <div class="form-group">

                                    <div class="col-sm-1">
                                        <label class="control-label">
                                            Outcomes
                                        </label>
                                    </div>
                                    <div class="col-sm-11">
                                        <angular-editor [(ngModel)]="course.outcomes" name="outcomes" id="outcomes"></angular-editor>
                                    </div>
                                </div>
                            </div>

                            <div id="benefit" class="tab-pane fade">
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <label class="control-label">
                                            Benefits
                                        </label>
                                    </div>
                                    <div class="col-sm-11">
                                        <angular-editor [(ngModel)]="course.benefits" name="benefits" id="benefits"></angular-editor>
                                    </div>
                                </div>
                            </div>

                            <div id="overview" class="tab-pane fade">
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <label class="control-label text-right">
                                            Overview
                                        </label>
                                    </div>
                                    <div class="col-sm-11">
                                        <angular-editor [(ngModel)]="course.overview" name="overview" id="overview"></angular-editor>
                                    </div>
                                </div>
                            </div>

                            <div id="prerequisite" class="tab-pane fade">
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <label class="control-label text-right">
                                            Prerequisites
                                        </label>
                                    </div>
                                    <div class="col-sm-11">
                                        <angular-editor [(ngModel)]="course.prerequisites" name="prerequisites" id="prerequisites"></angular-editor>
                                    </div>
                                </div>
                            </div>

                            <div id="audianceProfile" class="tab-pane fade">
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <label class="control-label text-right">
                                            Audiance Profile
                                        </label>
                                    </div>
                                    <div class="col-sm-11">
                                        <angular-editor [(ngModel)]="course.audianceProfile" name="audianceProfile" id="audianceProfile"></angular-editor>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                            <div class="form-group margin-none">
                                <div class="col-sm-12">
                                    <button [disabled]="form.invalid || btnClicked"  type="submit" class="btn btn-success form-control">Save</button>
                                    <button type="button" (click)="ClearObject()" style="margin-top: 15px;" class="btn btn-danger form-control">Clear</button>
                                </div>
                            </div>
                        
                    </form>
                </div>
            </div>
        </div>

    </div>