<div class="login">
  <div class="text-center">
    <h3 class="login__title has-text-grey">Login</h3>
    <p class="login__subtitle has-text-grey">Please login to proceed.</p>
    <div class="login__avatar">
      <i class="fa fa-user"></i>
    </div>
    <form class="login__form">
      <div class="field">
        <div class="control">
          <input class="login__input" type="email" placeholder="Your Email" autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="login__input" type="password" placeholder="Your Password">
        </div>
      </div>
      <button class="login__button">Login</button>
    </form>
  </div>
</div>