<div class="login">
  <div class="text-center">
    <h3 class="login__title has-text-grey">Login</h3>
    <p class="login__subtitle has-text-grey">Please login to proceed.</p>
    <div class="login__avatar">
      <i class="fa fa-user"></i>
    </div>
    <form #frm="ngForm" (submit)="Login()" class="login__form">
      <div class="field">
        <div class="control">
          <input class="login__input" type="text" name="username" #username="ngModel" [(ngModel)]="user.username" required placeholder="Your Username" autofocus="">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="login__input" type="password"  name="password" #password="ngModel" [(ngModel)]="user.password" required  placeholder="Your Password">
        </div>
      </div>
      <button [disabled]="frm.invalid" type="submit" class="login__button">Login</button>
    </form>
  </div>
</div>