    <!-- Sidebar component with st-effect-1 (set on the toggle button within the navbar) -->
    <div class="sidebar left sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
      <div data-scrollable>

        <ul  class="sidebar-menu">
          <li class=""><a [routerLink]="['/']"><i class="fa fa-bar-chart-o"></i><span>Dashboard</span></a></li>
          <li class="hasSubmenu">
            <!-- <a href="#course-menu"><i class="fa fa-mortar-board"></i><span>Courses Defination</span></a> -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Course Management
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <ul id="course-menu">
                        <li><a [routerLink]="['/course']" ><span>Course</span></a></li>
                        <li><a [routerLink]="['/instructor']" ><span>Instructors</span></a></li>
                        <li><a [routerLink]="['/learningpath']" ><span>Learning Path</span></a></li>
                        <li><a [routerLink]="['/coursetype']" ><span>Courses Types</span></a></li>
                        <li><a [routerLink]="['/examtype']" ><span>Exam Types</span></a></li>
                        <li><a [routerLink]="['/labtype']" ><span>Lab Types</span></a></li>
                        <li><a [routerLink]="['/materialtype']" ><span>Material Types</span></a></li>
                        <li><a [routerLink]="['/deliverytype']" ><span>Delivery Type</span></a></li>
                        <li><a [routerLink]="['/vendor']" ><span>Course Vendors</span></a></li>
                        <li><a [routerLink]="['/coursecategory']" ><span>Courses Category</span></a></li>
                        <li><a [routerLink]="['/subcategory']" ><span>SubCategory</span></a></li>
                        </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Finance
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <ul id="course-menu">
                      <li><a [routerLink]="['/branch']" ><span>Branches</span></a></li>
                      <li><a [routerLink]="['/lab']" ><span>Labs</span></a></li>
                      <li><a [routerLink]="['/assetgroup']" ><span>Asset Group</span></a></li>
                      <li><a [routerLink]="['/assetvendor']" ><span>Asset Vendor</span></a></li>
                      <li><a [routerLink]="['/asset']" ><span>Asset</span></a></li>
                      
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="accordion-toggle collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      CRM & Operations
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <ul id="course-menu">
                      <li><a [routerLink]="['/client']" ><span>Client</span></a></li>
                      <li><a [routerLink]="['/corporate']" ><span>Corporate</span></a></li>
                      <li><a [routerLink]="['/vacations']" ><span>Vacations</span></a></li>
                      <li><a><span>Students</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
